body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(208, 100%, 75%);
}

h1 {
    font-size: 4rem;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#display {
    font-size: 5rem;
}

#controls button {
    font-size: 2rem;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
}